node_modules
.env
.env.local
dist
.next
coverage
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.cache
typechain-types
artifacts
cache
deployments
*.tsbuildinfo
.vscode
.idea
*.jfif
*.jpg
*.png
*.jpeg

.vercel
.env*.local
